/*
  Menu
*/

#radiofirst:checked +label{
  background-color: #ccc;
}
#radiosecond:checked +label{
  background-color: #ccc;
}
#radiothird:checked +label{
  background-color: #ccc;
}

#pokestage ul {
  list-style-type: none;
}
input[name="type"], input[name="stage"] {
    display:none;
}
input[name="type"] + label {
    margin:-2px;
    padding: 8px 25px;
}

#radiograss + label{
    background-color: #696;
}
#radiograss:checked + label{
    background-color: #4c4;
    padding: 8px 29px;
}
#radiowater + label{
    background-color: #669;
}
#radiowater:checked + label{
    background-color: #44c;
    padding: 8px 29px;
}
#radiofire + label{
    background-color: #966;
}
#radiofire:checked + label{
    background-color: #c22;
    padding: 8px 29px;
}

/*
  Divs & borders
*/

#pokediv {
  border: 2px solid black;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
#pokeinfo {
  border-top: 2px solid black;
}
#radiograss +label {
  float: left;
  margin: 0px;
}
#radiowater+label{
  float: left;
  margin: 0px;
}
#radiofire+label{
  float: left;
  margin: 0px;
}
#pokediv, #alldivs{
  width: 260px;
  margin: auto;
}
#pokeinfo{
  font-weight: bold;
}
#pokeinfo p {
  font-weight: normal;
  padding: 5px;
  margin: 0px;
}
/*
  Font
*/

#pokestage {
  font-size: 13px;
  font-weight: bold;
}
#titleheader {
  position: relative;
}

/*
 Pictures
*/

#pokeballimage {
  float: left;
  width: 20px;
  height: 20px;
}
#pokepic img {
  width: 250px;
  height: 250px;
}
