/*
  Menu
*/
#pokestage ul {
  list-style-type: none;
}

/*
  Divs & borders
*/

#pokediv {
  border: 2px solid black;
  border-radius: 16px;
}
#pokeinfo {
  border-top: 2px solid black;
}
#pokemenu {
  border-bottom: 2px solid black;
}

/*
 Pictures
*/
#pokepic img {
  width: 250px;
  height: 250px;
}
