* {
  margin-top: 0px;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 0px;
}

.page-wrapper{
  margin: auto;
  position: relative;
  width: 900px;
  height: 2950px;
  font: 110% georgia, sans-serif;
  color: color: rgba(0, 0, 0, 0);
  background-color: #080808;
  border-left: 2px solid #000044;
  padding-left: 20px;
  border-right: 2px solid #250000;
  padding-right: 20px;
}
div h3 {
  color: #EEE;
  margin-top: 4px;
  margin-left: 25px;
  font-family: "Verdana", Sans-serif;
  font-variant: small-caps;
}

#zen-supporting h3, .preamble h3{
  margin-top: 5px;
  background-color: #666;
  text-align: center;
  box-shadow: inset 1px 1px 8px 1px rgba(191,189,191,1);
  border-radius: 5px;
}

div[role="article"]{
  border-color: #b1690d;
  color: #666;
  font-family: "Verdana", Sans-serif;
}

div[role="article"]:hover, div[role="article"]:focus {
  border-color: #e27705;
  color: #EEE;
}
.intro {

}

header[role="banner"] {
  width: 900px;
  height: 563px;
  background-image: url(../img/fireice.png);
  background-repeat: no-repeat;
  background-size:contain;
  margin-bottom: 20px;
  text-indent: -400px;
  overflow: hidden;
}
.summary, .preamble {
  width: 550px;
  float: left;
  padding-left: 5px;
  margin-bottom: 10px;
  border-left-style:dotted;
  border-width: 0px 0px 0px 2px;
  border-top-left-radius: 30px;
}
#zen-summary {
  padding-top: 45px;



  background-image: url("../img/beauty.png");
  background-repeat: no-repeat;
  background-position: 30px 5px;
}

.supporting {
  width: 550px;
  float: left;
}
.explanation, .participation, .benefits, .requirements {
  margin-bottom: 5px;
  padding-left: 5px;
  border-left-style: solid;
  border-left-style:dotted;
  border-width: 0px 0px 0px 2px;
  border-top-left-radius: 30px;
}

a {
  color: #b1690d;
  transition: all 0.25s ease-out;
  text-decoration: none;
}
a:visited {
  color: #72371a;
}
a:hover, a:focus {
  color: #d27705;
  text-decoration: underline;
}

ul {
    list-style-image: url("../img/orange_star.png");
}
li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
  color: #666;
}
li a:first-child {
  display:block;
}
.design-selection a:last-child {
  color: white;
}

li:hover, li:focus {
  list-style-image: url("../img/red_star.png");
}


.design-selection {
  box-shadow: 1px 1px 11px 11px rgba(153,153,153,0.57);
}

.design-selection{
  position: absolute;
  font-size: 0.9em;
  width: 300px;
  height: 600px;
  top: 586px;
  left: 65%;
  margin-left: 1100;
  padding: 0px;
  border-radius: 5px;
}
.zen-resources{
    position: absolute;
    font-size: 0.9em;
    width: 300px;
    height: 300px;
    top: 996px;
    left: 65%;
    margin-left: 1100;
    padding: 0px;
}
.design-selection h3, .zen-resources h3{
  border-radius: 5px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: #DDD;
  background-color: #666;
  box-shadow: inset 1px 1px 8px 1px rgba(191,189,191,1);
}

.design-selection, .zen-resources {
  margin-bottom: 5px;
}

footer a {
  border-left: 1px dotted white;
  padding-left: 3px;
}
footer a:last-child {
  border-right: 1px dotted white;
  padding-right: 3px;
}

.design-archives{
  position: absolute;
  top: 0px;
  left: 35%;
  margin-left: 335px;
  width: 250px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

.design-archives h3 {
  background:url(../img/sidething.png) no-repeat;
  text-indent: -200px;
  overflow: hidden;
}

.design-archives ul {
  margin: 0px;;
  padding: 0px;
}

.design-archives li {
  position: absolute;
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
}
.design-archives li a {
  color: black;
}

.design-archives .next {
  width: 114px;
  height: 25px;
  top:27px;
  border: 2px solid #000044;
  z-index: 2;
  text-indent: 100px;
  margin-left: 15px;
  overflow: hidden;
}
.next a{
  background:url(../img/next.png) no-repeat;
}
.next:hover {
border-color: #000088;
z-index: 3;
}

.design-archives .viewall {
  width: 114px;
  height: 25px;
  top:27px;
  left: 116px;
  border: 2px solid #440000;
  z-index: 2;
  text-indent: 100px;
  margin-left: 15px;
  overflow: hidden;
}
.viewall a{
  background:url(../img/all.png) no-repeat;
}
.viewall:hover {
border-color: #880000;
z-index: 3;
}
