* {
  margin-top: 0px;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 0px;
}

.page-wrapper{
  margin: auto;
  position: relative;
  width: 900px;
  height: 2730px;
  font: 110% georgia, sans-serif;
  color: #CFCFCF;
  background-color: #080808;
}
#zen-summary{
  padding-top: 10px;
}
div h3 {
  color: #EEE;
  margin-top: 4px;
  margin-left: 25px;
  font-family: "Verdana", Sans-serif;
  font-variant: small-caps;
}

div[role="article"]{
  border-color: #b1690d;
  color: #666;
  font-family: "Verdana", Sans-serif;
}

div[role="article"]:hover, div[role="article"]:focus {
  border-color: #e27705;
  color: #EEE;
}
header[role="banner"] {
  width: 900px;
  height: 400px;
  background-color: #222222;
  text-indent: 50px;
  background-position: bottom;
  background:url(../img/sun.png) bottom right no-repeat;
}
.summary, .preamble {
  margin-bottom: 5px;
  width: 550px;
  float: left;
  padding-left: 5px;
  border-left-style: solid;
  border-left-style:dotted;
  border-width: 0px 0px 0px 2px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.supporting {
  width: 550px;
  float: left;
}
.explanation, .participation, .benefits, .requirements {
  margin-bottom: 5px;
  padding-left: 5px;
  border-left-style: solid;
  border-left-style:dotted;
  border-width: 0px 0px 0px 2px;
  border-top-left-radius: 30px;
}

a {
  color: #b1690d;
  transition: all 0.25s ease-out;
  text-decoration: none;
}
a:visited {
  color: #72371a;
}
a:hover, a:focus {
  color: #d27705;
  text-decoration: underline;
}

ul {
    list-style-image: url("../img/orange_star.png");
}
li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
}
/*
li:nth-child(even) {
  background-color: #222222;
}

li:nth-child(odd) {
  background-color: #111111;
}
*/
li:hover, li:focus {
  border-left: 5px solid #555555;
  list-style-image: url("../img/red_star.png");
}

aside {
  float:right;
  font-size: 0.9em;
  width: 340px;
  margin-top: -400px;
  padding: 0px;
}

aside h3 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: #DDD;
  background-color: blue;
}

.design-selection, .design-archives, .zen-resources {
  margin-bottom: 5px;
}
footer a {
  border-left: 1px dotted white;
  padding-left: 3px;
}
footer a:last-child {
  border-right: 1px dotted white;
  padding-right: 3px;
}

/*.extra1 {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 1200px;
  background-color: white;
}*/
